#primary-container {
    padding-top: 5%;
    width: 50%;
    margin: auto;
}

#notify {
    /* display: none; */
    min-height: 40px;
}

#center {
    text-align: center;
}

.title {
    text-align: center;
}