body,
html,
.primary-layout {
  width: 100%;
  height: 100%;
}

.center {
  margin: auto;
  width: 50%;
}

.bold {
  font-weight: bold;
}

.bolder {
  font-weight: bolder;
}

.thickboi {
  font-weight: 1000;
}

.spacing-base {
  margin-bottom: 14px;
}

.spacing-head {
  margin-top: 14px;
}

.float-right {
  float: right;
  margin-right: 0;
}